.bg-image {
    background-image: url('./img/hero/bg_2.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.product_item {
    display: flex;
    justify-content: center;

}

html {
    scroll-behavior: smooth;
}

/* .product_slider.move {
    animation: product_move_first 1s linear forwards;

} */

.product_slider.move .product_item:nth-child(1) {
    animation: reduce_width 1s linear forwards;
}

.product_slider.move .product_item:nth-child(2),
.product_slider.move .product_item:nth-child(3),
.product_slider.move .product_item:nth-child(4) {
    animation: moving 1s linear forwards;

}

.product_slider.move .product_item:nth-child(5) {
    animation: reduce_width-remove 1s linear forwards;
}


@keyframes product_move_first {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes moving {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes reduce_width {
    from {
        /* width: 250px; */
        transform: translateX(0);
    }

    to {
        /* width: 0; */
        transform: translateX(-100%);
    }
}

@keyframes reduce_width-remove {
    from {
        /* width: 250px; */
        transform: translateX(0);
    }

    to {
        /* width: 0; */
        transform: translateX(-100%);
    }
}


.product_slider {
    display: grid;
    /* grid-auto-rows: 200px; */
    /* grid-auto-columns: calc((100%/4)); */
    overflow: hidden;
}


#banner_section>div {
    &:nth-child(1) {
        background-image: url('./img//banner/bg_3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom
    }

    &:nth-child(2) {
        background-image: url('./img//banner/bg_1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
}

.selected {
    background-color: #fff;
}

#language_container:hover {
    #countryName_select_container {
        display: flex;
    }

}