.Categorie_item {
    display: flex;
    justify-content: center;

}

html {
    scroll-behavior: smooth;
}


#banner_section>div {

    &:nth-child(1) {
        background-image: url('./img//banner/bg_3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom
    }

    &:nth-child(2) {
        background-image: url('./img//banner/bg_1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }

}

#latest_product_Slider,
#Top_rated_product_Slider,
#best_Review_Product_Slider,
#product_slider {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.best_product_item,
.Categorie_item {
    scroll-snap-align: start;
}